.ColorWhite {color: white;}
                .ColorOrange {background-color: orange;}
                .ColorBlack {color: black;text-decoration: none;}
                .zoma {width: 800px; height: 600px ;}
                .sheweva {width: 400px; height: 170.812px;}
                .sheweva1 {width: 630px; height: 90.8px;}
a:hover {color: brown;}